.header {
  display: flex;
  justify-content: space-between;
}

.header-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #0056b3;
}
